solutions/visitormanagement/Workflows/DailyVisitorCleanup-225E6694-6303-EC11-B6E6-0022486F6837.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2021-08-22T20:00:00Z"},"metadata":{"operationMetadataId":"69d4261e-8281-47f1-bf81-f55180d9260d"},"type":"Recurrence"}},"actions":{"List_all_checked_in_visitors":{"runAfter":{},"metadata":{"operationMetadataId":"70898d6a-df0c-4bf2-8dc8-16e75ecbc601"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ur_visitors","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ur_visitor\">\n    <attribute name=\"ur_visitorid\" />\n    <attribute name=\"ur_visitdate\" />\n    <attribute name=\"ur_maskequipped\" />\n    <attribute name=\"ur_helmequipped\" />\n    <attribute name=\"ur_checkout\" />\n    <attribute name=\"ur_checkin\" />\n    <attribute name=\"ur_email\" />\n    <attribute name=\"ur_firstname\" />\n    <attribute name=\"ur_lastname\" />\n    <attribute name=\"ur_safeworkcheck\" />\n    <attribute name=\"ur_safeworkresult\" />\n    <order attribute=\"ur_visitdate\" descending=\"true\" />\n    <order attribute=\"ur_checkin\" descending=\"true\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"ur_checkout\" operator=\"null\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_checked_in_visitors":{"foreach":"@outputs('List_all_checked_in_visitors')?['body/value']","actions":{"Update_checked_in_visitor":{"runAfter":{},"metadata":{"operationMetadataId":"cc6f8959-3e8c-4901-8620-9b36622b8890"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ur_visitors","recordId":"@items('Apply_to_each_checked_in_visitors')?['ur_visitorid']","item/ur_checkout":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_all_checked_in_visitors":["Succeeded"]},"metadata":{"operationMetadataId":"f28dd05b-b565-43e5-9a97-ea2ca5eb2ec2"},"type":"Foreach"},"List_all_equipments":{"runAfter":{"Apply_to_each_checked_in_visitors":["Succeeded"]},"metadata":{"operationMetadataId":"be986d0c-f9bd-48ca-bdb7-8aeea2e2b0a3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ur_visitorequipments","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ur_visitorequipment\">\n    <attribute name=\"ur_visitorequipmentid\" />\n    <attribute name=\"ur_name\" />\n    <attribute name=\"ur_description\" />\n    <attribute name=\"ur_isavailable\" />\n    <order attribute=\"ur_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"ur_isavailable\" operator=\"eq\" value=\"0\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_equipment":{"foreach":"@outputs('List_all_equipments')?['body/value']","actions":{"Update_equipment_availability":{"runAfter":{},"metadata":{"operationMetadataId":"f30c19cb-8ea5-4f86-94a9-c6ba2f7e20ef"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ur_visitorequipments","recordId":"@items('Apply_to_each_equipment')?['ur_visitorequipmentid']","item/ur_isavailable":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_all_equipments":["Succeeded"]},"metadata":{"operationMetadataId":"d602e390-818d-4878-a5d6-f7a0ff5ff5a1"},"type":"Foreach"},"List_all_visitor_without_contact_relation":{"runAfter":{"Apply_to_each_equipment":["Succeeded"]},"metadata":{"operationMetadataId":"941b915d-34ba-4ee0-bd00-da1f989b457c"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ur_visitors","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"ur_visitor\">\n    <attribute name=\"ur_visitorid\" />\n    <attribute name=\"ur_visitdate\" />\n    <attribute name=\"ur_maskequipped\" />\n    <attribute name=\"ur_helmequipped\" />\n    <attribute name=\"ur_checkout\" />\n    <attribute name=\"ur_checkin\" />\n    <attribute name=\"ur_guesthost\" />\n    <attribute name=\"ur_visitorcontact\" />\n    <attribute name=\"ur_email\" />\n    <attribute name=\"ur_firstname\" />\n    <attribute name=\"ur_lastname\" />\n    <attribute name=\"ur_safeworkcheck\" />\n    <attribute name=\"ur_safeworkresult\" />\n    <order attribute=\"ur_visitdate\" descending=\"true\" />\n    <order attribute=\"ur_checkin\" descending=\"true\" />\n    <filter type=\"and\">\n      <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n      <condition attribute=\"ur_email\" operator=\"not-null\" />\n      <condition attribute=\"ur_firstname\" operator=\"not-null\" />\n      <condition attribute=\"ur_lastname\" operator=\"not-null\" />\n      <condition attribute=\"ur_visitorcontact\" operator=\"null\" />\n    </filter>\n    <link-entity name=\"contact\" from=\"contactid\" to=\"ur_guesthost\" visible=\"false\" link-type=\"outer\" alias=\"a_4667eec8c2f74b4fb8f18163f38d77c2\">\n      <attribute name=\"emailaddress1\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_visitor_without_contact_relation":{"foreach":"@outputs('List_all_visitor_without_contact_relation')?['body/value']","actions":{"Check_existing_contacts":{"runAfter":{},"metadata":{"operationMetadataId":"082a8e1a-9b0d-44b8-8683-1807c456ba2d"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","$filter":"emailaddress1 eq '@{items('Apply_to_each_visitor_without_contact_relation')?['ur_email']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{},"runAfter":{"Check_existing_contacts":["Succeeded"]},"expression":{"equals":["@if(empty(outputs('Check_existing_contacts')?['body/value']),0,1)",0]},"metadata":{"operationMetadataId":"32b1cf3d-4528-4024-b8fb-e854bd3fbcd0"},"type":"If"}},"runAfter":{"List_all_visitor_without_contact_relation":["Succeeded"]},"metadata":{"operationMetadataId":"87ac44d2-91c2-45e6-8ade-30569ad69141"},"type":"Foreach"}}}},"schemaVersion":"1.0.0.0"}