solutions/visitormanagement/Workflows/UpdateVisitorEquipmentLoanStatus-465F9A39-A1A1-EB11-B1AC-000D3A831716.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Visitor_Equipment_is_loan_or_return":{"metadata":{"operationMetadataId":"b39cb5a8-6ada-4dd4-aaca-e6d1bc005841"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"ur_visitorequipmentloan","subscriptionRequest/scope":4,"subscriptionRequest/name":"465f9a39-a1a1-eb11-b1ac-000d3a831716"},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_if_loan_or_return":{"actions":{"Update_Equipment_is_available_to_yes":{"runAfter":{},"metadata":{"operationMetadataId":"e91cb74d-b753-4bb4-8d67-c29b8133ff6b"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ur_visitorequipments","recordId":"@triggerOutputs()?['body/_ur_visitorequipment_value']","item/ur_isavailable":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Update_Equipment_is_available_to_no":{"runAfter":{},"metadata":{"operationMetadataId":"039e79b5-d2ae-4ef4-9980-8da9b077b613"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ur_visitorequipments","recordId":"@triggerOutputs()?['body/_ur_visitorequipment_value']","item/ur_isavailable":false},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@if(empty(triggerOutputs()?['body/ur_returndate']),0,1)",1]},"metadata":{"operationMetadataId":"54ee090d-0468-4bb9-bcb8-1f0c07e014f3"},"type":"If"}}}},"schemaVersion":"1.0.0.0"}